body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14pt !important;
}

.nav-bar-component {
    margin-top: auto;
}

#nav-logo {
    width: 100%;
    height: 100%;
}

#banner {
    width: 100vw;
    height: 100% !important;
}

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    height: 60vh;
}

.blue-icon {
    padding-right: 10px;
    color: #0066ff;
}

h1 {
    color: #0066ff;
}

#current-page {
    text-decoration: underline;
    text-decoration-color: #0066ff;
    text-decoration-thickness: 3px;
}

#contactWrap {
    width: 100wh;
    color: white;
    background-color: #80b3ff;
}

#message {
    height: 200px !important;
}

#hiredInfoWrap {
    border: 2px solid #c2d1f0;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border-width: 4px;
}

#review-header-wrapper {
    border: 2px solid #c2d1f0;
    padding-left: 5px;
    padding-right: 5px;
}

#five-stars {
    margin: auto;
}

.vl {
    padding-top: 10px;
    margin-top: 10px;
    float: left;
    border-left: 1px solid #0066ff;
    height: 120px;
}

#five-star-bars {
    float: left;
    width: 98%;
}

.progress {
    margin-top: 10px;
}

.progress-label {
    margin-top: 5px;
    padding-right: 10px;
    margin-left: 10px;
}

.small-break {
    font-size: 5px;
}

.single-review-wrapper {
    border: 2px solid #c2d1f0;
}
p1{
    padding-top:10px;
}
.review-content{
margin-top:10px;
}
.review-stars{
    margin-top:10px;
}
.review-poster{
    margin-top:10px;
    padding-bottom:10px;
}

h3{
    color: #0066ff;
}
#about-header{
    font-size:36pt !important;
    margin-top:-10px;
}

.carousel-item{

}

#carouselExampleIndicators{
    height:800px;
}

.carousel-inner .item{
    height: 100%;
}
.carousel-inner .item img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}
#carouselExampleIndicators{
    margin:auto;
}

.carousel-indicators .active{
    background-color: #0066ff !important;
}
.carousel-indicators .indicator{
    background-color: #80b3ff;
}
.col-lg-4{
    /* border: 2px solid black !important; */
}
.gallery-image{
    height:360px;
    width:100%;
    border: 5px solid #e7e7e7;
    border-radius:5px;
}

.gallery-modal-button{
    background-color: none;
    border: none;
}