body{
    font-family: 'Open Sans', sans-serif !important;
    font-size:14pt !important;
}
.nav-bar-component{
    margin-top: auto;
}
#nav-logo{
    width:100%;
    height:100%;
}
#banner{
    width:100vw;
    height:100% !important;
}
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    height:60vh;
}
.blue-icon{
    margin-right:10px;
    color:#0066ff;
}

h1{
    color:#0066ff;
}
#current-page{
    text-decoration: underline;
    text-decoration-color:#0066ff;
    text-decoration-thickness: 3px;
}
#contactWrap{
    width:100wh;
    color:white;
    background-color:#0066ff;
}
h2{
    color:white;
}
#message{
    height:200px !important;
}
#hiredInfoWrap{
    border: 2px solid #c2d1f0;
    padding-left:5px;
    padding-right:5px;
}
hr{
    border-width:4px;
}
#review-header-wrapper{
    border: 2px solid #c2d1f0;
    padding-left:5px;
    padding-right:5px;
}
#five-stars{
    margin:auto;
}
.vl {
    padding-top:10px;
    margin-top:10px;
    float:left;
    border-left: 1px solid #0066ff;
    height: 120px;
  }
  
  #five-star-bars{
    float:left;
    width:98%;
}
.progress{
    margin-top:10px;
}
.progress-label{
   margin-top:5px;
   padding-right:10px;
   margin-left:10px;
}

.small-break{
    font-size:5px;
}